ASSESSOR_API_KEY=trackscore-assessor-key-2026
MANAGER_API_KEY=trackscore-manager-key-2026
MONGODB_URI=mongodb+srv://haziqhizal9006_db_user:hEOLuffYWVNBJiMO@tracking.61qmtzr.mongodb.net/trackscore?retryWrites=true&w=majority
